################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DubaiPhoneClone/FileContentIndex/5d6fe816-4104-4ee2-b7de-fded522e1f14.vsidx
/.vs/DubaiPhoneClone/FileContentIndex
/DubaiPhoneClone.sln
