################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
[Bb]in/
[Oo]bj/
/.vs
/DubaiPhoneClone.sln
/DubaiPhoneClone.API/obj
/DubaiPhoneClone.API/bin
/DubaiPhoneClone.Application/obj
/DubaiPhoneClone.Application/bin
/DubaiPhoneClone.Context/obj
/DubaiPhoneClone.Context/bin
/DubaiPhoneClone.Infrastructure/obj
/DubaiPhoneClone.Infrastructure/bin
/DubaiPhoneClone.Models/obj
/DubaiPhoneClone.Models/bin
/DubaiPhone.DTOs/obj
/DubaiPhone.DTOs/bin
/Dashboard/obj
/Dashboard/bin


/.vs/DubaiPhoneClone/DesignTimeBuild/.dtbcache.v2
/.vs/DubaiPhoneClone/v17/.futdcache.v2
/.vs/DubaiPhoneClone/v17/.suo
/.vs/DubaiPhoneClone/v17/DocumentLayout.json
/.vs/ProjectEvaluation/dubaiphoneclone.metadata.v7.bin
/.vs/ProjectEvaluation/dubaiphoneclone.projects.v7.bin
/.vs/DubaiPhoneClone/config/applicationhost.config
/.vs/DubaiPhoneClone/DesignTimeBuild/.dtbcache.v2
/.vs/DubaiPhoneClone/v17/.futdcache.v2
/.vs/DubaiPhoneClone/v17/.suo
/.vs/DubaiPhoneClone/v17/DocumentLayout.json
/.vs/ProjectEvaluation/dubaiphoneclone.metadata.v7.bin
/.vs/ProjectEvaluation/dubaiphoneclone.projects.v7.bin
